<!-- Basic stuff -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin-when-cross-origin">

<title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ .Description | default (.Summary | plainify) | default .Site.Params.Description | default .Title }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ with .Site.Params.mastodon }}<link rel="me" href="{{ . }}" />{{ end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">
<link rel="apple-touch-icon-precomposed" href="{{ "favicon.png" | absURL }}">

{{ $stylePath := "css/style.css" }}
{{ $styleFile := os.Stat (printf "themes/anubis/static/%s" $stylePath) }}
<link rel="stylesheet" href="{{ $stylePath | absURL }}?v={{ $styleFile.ModTime.Unix }}" />

{{ range .Site.Params.customCSS -}}
{{ $customFile := os.Stat (printf "static/%s" .) }}
<link rel="stylesheet" href="{{ . | absURL }}?v={{ $customFile.ModTime.Unix }}">
{{- end }}

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
