

body {
  font: 80% "Bitstream Vera Sans", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background-color: White;
  color: Black;
  margin: 2px;
  padding: 2px;
}

div.clearer {clear: both; line-height: 0; height: 0;}

.pagename {
	height:25px;
	font-size:200%;
	font-weight:bolder;
	color:#62618D;
	text-align:left;
	padding:0 0 0.5cm 0;
    padding-top: 0.25cm;
}

span.pagename {
	height:25px;
	font-size:100%;
	font-weight:bolder;
	text-align:left;
	padding:0 0 0.5cm 0;
    padding-top: 0.25cm;
    color: #767676;
}

.pagename a:link, .pagename a:visited {
  color:#436976;
  text-decoration:none;
}

.pagename a:hover, .pagename a:active {
  color:#FF9933;
}

.bar {
	height:15px;
	border-top:2px solid #1A1786;
	border-bottom:1px solid #1A1786;
	background:#62618D;
	padding:2px;
	margin:0;
}

table {
  font-size: 100%;
  padding:0;
  margin:0;
}

tr,td,th {padding:0; margin:0;}

img {border:0}

p {padding:0; margin: 1.0em 0 1.0em 0;}

hr {
  border: 0px;
  border-top: 1px solid #a36d47;
  text-align:center;
  height: 0px;
}

span.search {
    background: #3DFE40;
}

a {
  color:#436976;
  text-decoration:none;
}
a:hover {
  color:#000000;
  text-decoration:underline;
}

div.breadcrumbs{
  background-color: #ABA9F4;
  text-align: right;
  font-size:80%;
  color: #666666;
  padding-left: 4px;
}

a.urlextern{
    background: transparent url(link_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#436976;
    text-decoration:none;
}

a.urlextern:visited {
  color:Purple;
}
a.urlextern:hover {
  text-decoration:underline;
}

a.interwiki{
    background: transparent url(@PIXMAPS_DIR/interwiki.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
    color:#436976;
    text-decoration:none;
}
a.interwiki:visited {
  color:Purple;
}
a.interwiki:hover {
  text-decoration:underline;
}

a.media {
  color:#436976;
  text-decoration:none;
}
a.media:hover {
  color:#436976;
  text-decoration:underline
}

img.linkicon {
	vertical-align: text-bottom;
}

img.media {
  margin: 3px;
}

img.medialeft {
  margin: 0 1.5em 0 0;
  border: 0;
  float: left;
}

img.mediaright {
  margin: 0 0 0 1.5em;
  border: 0;
  float: right;
}

img.mediaright {
  margin: 5px;
  border: 0;
  float: right;
}

a.mail {
  background: transparent url(mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  color:#436976;
  text-decoration:none;
}
a.mail:hover {
  text-decoration:underline;
}

a.wikilink1:link    { color:#009900; text-decoration:none }
a.wikilink1:visited { color:#009900; text-decoration:none }
a.wikilink1:hover   { color:#009900; text-decoration:underline }

a.wikilink2:link    { color:#FF3300; text-decoration:none }
a.wikilink2:visited { color:#FF3300; text-decoration:none }
a.wikilink2:hover   { color:#FF3300; text-decoration:underline }

a.wikilink3:link    { color:#436976; text-decoration:none }
a.wikilink3:visited { color:#436976; text-decoration:none }
a.wikilink3:hover   { color:#436976; text-decoration:underline }

acronym {
  cursor: help;
  border-bottom: 1px dotted #000;
}

div.page {
  margin-top: 4px;
  margin-left:  1em;
  margin-right: 2em;
  text-align: justify;
}

h1 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #62618D;
    clear: left;
    font-size: 160%;
    margin-left: 0px;
    font-weight: bold;
}
h2 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #62618D;
    clear: left;
    font-size: 150%;
    margin-left: 20px;
}
h3 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    clear: left;
    font-size: 140%;
    margin-left: 40px;
    border-bottom: none;
    font-weight: bold;
}
h4 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    clear: left;
    font-size: 120%;
    margin-left: 60px;
    border-bottom: none;
    font-weight: bold;
}
h5 {
    color: Black;
    background-color: transparent;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    margin-right:   0;
    margin-top:     0;
    margin-bottom:  1em;
    padding-left:   0;
    padding-right:  0;
    padding-top:    0.5em;
    padding-bottom: 0;
    clear: left;
    font-size: 100%;
    margin-left: 80px;
    border-bottom: none;
    font-weight: bold;
}

div.level1 {margin-left: 3px;}
div.level2 {margin-left: 23px;}
div.level3 {margin-left: 43px;}
div.level4 {margin-left: 63px;}
div.level5 {margin-left: 83px;}

ul {
  line-height: 1.5em;
  list-style-type: disc;
  color: #62618D;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
}

ol {
  line-height: 1.0em;
  margin: 0.5em 0 0.5em 1.5em;
  padding: 0;
  color: #62618D;
  font-weight: bold;
}

span.righttext {
  float: right;
}

span.li {
  color: #000000;
  font-weight: normal;
}

li.open {
  list-style-image: url(images/open.gif);
}

li.closed {
  list-style-image: url(images/closed.gif);
}
.quote {
  border-left: 2px solid #a36d47;
  padding-left: 3px;
}

pre.pre {
  font-family: mono;
  padding: 0.5em;
  border: 1px dashed #a36d47;
  color: Black;
  background-color: #fff4b5;
  overflow: auto;
  font-weight: normal;
}

pre.code {
  font-family: mono;
  padding: 0.5em;
  border: 1px dashed #a36d47;
  color: Black;
  background-color: #fff4b5;
  overflow: auto;
  font-weight: normal;
}

code {
  font-family: mono;
  font-weight: normal;
}
