@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background: #232323;
    }

    .pagination-item {
        background: #666;
    }

    /* Navigation */
    header a {
        color: #9b9b9b;
    }

    header nav {
        background: #232323;
    }

    /* Title of posts */
    article header h1 a {
        color: #9b9b9b;
    }

    @media (max-width: 840px) {
        /* Have a nice box around menu on phones */
        header nav {
            background: #333;
        }
    }
}
